{% extends 'base.html.twig' %}

{% block title %}Todo App{% endblock %}


{% block body %}

    <div class="container">
        <div class="col-6 mx-auto mt-4 px-5 pb-4 index border">
        

            <div class="row mt-3">
                In this web application you can create TODOS and add them to the created categories or add them without category. To do this:
            </div>
            <div class="row mt-3">
                1. Create an account/log in.
            </div>
            <div class="row mt-3">
                2. Create new category in the "Todos" tab.
            </div>
            <div class="row mt-3">
                3. You can add new task, set it's deadline (optional) and assign category (optional). 
            </div>
            <div class="row mt-3">
                4. Use left sidebar to navigate to a category. You can change if task was already completed or you can delete task completely. 
            </div>
        </div>
    </div>
{% endblock %}
